.background {
    background-attachment: fixed;
    background: linear-gradient(237deg, #92018ba1, #0000ffd2, #1eff008c, #ffae008c, #a70016ce);
    background-size: 500% 500%;

    -webkit-animation: AnimationName 90s ease infinite;
    -moz-animation: AnimationName 90s ease infinite;
    animation: AnimationName 90s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.layout {
    max-width: 900px;
    margin: auto;
    font-family: 'Calibri';
}

h1,h2,h3,h4,h5,h6,p {
    text-align: center;
}

img {
    width:100%;
    max-width:300px;
    padding:7px;
}